@import 'styles/variables/colors';
@import 'styles/variables/spacing';

@mixin modifyContainerAndText($backgroundColor, $textColor) {
    background-color: $backgroundColor;

    .text {
        color: $textColor;
    }

    .icon {
        color: $textColor;
    }
}

.container {
    padding: spacing(1) spacing(2);
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: max-content;

    .text {
        text-align: center;
        line-height: normal;
    }

    .icon {
        margin-right: spacing(1);
    }

    &.isRed {
        @include modifyContainerAndText($color-background-red-light, $color-background-red);
    }

    &.isYellow {
        @include modifyContainerAndText($color-background-yellow-light, $color-background-yellow-dark);
    }

    &.isBlue {
        @include modifyContainerAndText($color-background-polar, $color-background-blue);
    }

    &.isPurple {
        @include modifyContainerAndText($color-background-purple-light, $color-background-purple);
    }

    &.isGreen {
        @include modifyContainerAndText($color-ui-green-transparent, $color-background-green);
    }

    &.isGrey {
        @include modifyContainerAndText($color-grey-5, $color-grey-99);
    }
}
