@import 'styles/variables/colors';
@import 'styles/variables/spacing';

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 900px;
    width: 100%;
}

.navigationContainer {
    height: 100%;
    background-color: $color-white;
}

.contentContainer {
    position: relative;
    padding: spacing(18) spacing(18);
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .formInputContainer {
        .passwordContainer {
            display: flex;
            flex-direction: row;
            .formContainer {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-left: spacing(18);
                max-width: 430px;
                .formFieldContainer {
                    margin-bottom: spacing(4);
                }
            }
        }
    }

    .notification {
        position: absolute;
        bottom: 185px;
        right: 0;
    }

    .buttonContainer {
        display: flex;
        justify-content: flex-end;
        border-radius: 8px;
        padding: spacing(4);
        width: 100%;
        background-color: $color-grey-5;
    }
}
