@import 'styles/variables/colors';
@import 'styles/variables/spacing';

.container {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 104px;
    border-radius: 8px;
    cursor: pointer;
    .border {
        height: 88px;
        width: 8px;
        margin-right: spacing(4);
        border-radius: 12px;
    }

    &.finalInterview {
        .border {
            background-color: #1922c9;
        }
        &:hover {
            background-color: rgba(25, 34, 201, 0.05);
        }
    }

    &.comment {
        .border {
            background-color: #681249;
        }
        &:hover {
            background-color: rgba(104, 18, 73, 0.05);
        }
    }

    &.followUp {
        .border {
            background-color: #ffb342;
        }
        &:hover {
            background-color: rgba(255, 179, 66, 0.05);
        }
    }

    &.storytelling {
        .border {
            background-color: #92bed8;
        }
        &:hover {
            background-color: rgba(146, 190, 216, 0.05);
        }
    }

    &.intake {
        .border {
            background-color: #ffba94;
        }
        &:hover {
            background-color: rgba(255, 186, 148, 0.05);
        }
    }

    .contentContainer {
        padding: spacing(2) spacing(7) spacing(2) 0;
        .titleContainer {
            display: flex;
            margin-bottom: spacing(2);

            .title {
                height: 18px;
                margin: 0 8px 0 0;
                font-size: 14px;
                font-weight: 600;
                color: #232326;
            }

            .subtitle {
                width: 84px;
                height: 18px;
                margin: 0 0 0 8px;
                font-size: 14px;
                font-weight: 600;
                color: #87878f;
            }
        }
    }
}
