@import 'styles/variables/colors';

.container {
    background-color: $color-white;
}

.td {
    border: 1px solid #333;
}

.thead,
.tfoot {
    background-color: #333;
    color: #fff;
}

.checkBoxTd {
    text-align: center;
}
