@import 'styles/variables/colors';

.container {
    padding: 15px 16px 15px 16px;
    border-radius: 4px;
    display: flex;

    &.is-aanbieder {
        background-color: $color-bisc-ice;

        .name {
            color: $color-white;
        }

        .environment {
            color: $color-white;
        }
    }

    &.is-taalhuis {
        background-color: $color-white;

        .name {
            color: $color-grey-99;
        }

        .environment {
            color: $color-grey-80;
        }
    }

    &.is-bisc {
        background-color: $color-grey-95;

        .name {
            color: $color-white;
        }

        .environment {
            color: $color-white;
        }
    }
}

.name {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin-bottom: 4px;
}

.environment {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.42px;
    color: #ffffff;
}

.left {
    padding-right: 16px;
}

.attendee {
    svg {
        position: absolute;
        margin-top: -8px;
        height: 48px;
        width: 48px;
        color: $color-background-polar;
    }
}

.profile {
    svg {
        height: 52px;
        width: 52px;
        color: $color-bisc-orange;
    }
}
