@import 'styles/variables/colors';
@import 'styles/variables/spacing';

.container {
    width: 403px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    position: relative;
    background-color: #f2f2f7;

    .border {
        height: 100%;
        width: 4px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 12px;
        background-color: #b2b2ba;
    }

    &.finalInterview {
        background-color: rgba(25, 34, 201, 0.05);
        .border,
        .editIcon {
            background-color: #1922c9;
        }
    }

    &.comment {
        background-color: rgba(104, 18, 73, 0.05);
        .border,
        .editIcon {
            background-color: #681249;
        }
    }

    &.followUp {
        background-color: rgba(255, 179, 66, 0.05);
        .border,
        .editIcon {
            background-color: #ffb342;
        }
    }

    &.storytelling {
        background-color: rgba(146, 190, 216, 0.05);
        .border,
        .editIcon {
            background-color: #92bed8;
        }
    }

    &.intake {
        background-color: rgba(255, 186, 148, 0.05);
        .border,
        .editIcon {
            background-color: #ffba94;
        }
    }

    .contentContainer {
        padding: spacing(10);
        .headerContainer {
            display: flex;
            justify-content: space-between;
            .titleContainer {
                display: flex;
                flex-direction: column;
                margin-bottom: spacing(9);
            }

            .title {
                width: 75px;
                height: 18px;
                margin: 0 8px 0 0;
                font-size: 14px;
                font-weight: 600;
                color: #232326;
            }
        }
        .descriptionContainer {
            .subtitle {
                height: 18px;
                margin: 0 0 0 8px;
                font-size: 14px;
                font-weight: 600;
                color: #87878f;
            }

            .containerList {
                ul {
                    padding-inline-start: 0;
                    margin-left: spacing(8);
                }
            }
        }
    }

    .buttons {
        padding: spacing(8);
    }

    .buttons,
    .leftButtonsContainer,
    .rigthButtonsContainer {
        display: flex;
        justify-content: space-between;
        .button:first-of-type {
            margin-right: 10px;
        }
        .button {
            padding: 7px 16px;
        }
    }
}
