@import 'styles/variables/colors';
@import 'styles/variables/spacing';

.container {
    background-color: rgba(255, 90, 38, 0.1);
    display: flex;
    flex-direction: row;
    padding: spacing(4) spacing(6);
    max-width: 403px;
    border-radius: 4px;

    p {
        font-size: 14px;
        max-width: 85%;
    }

    .warningIconContainer {
        width: 20px;
        height: 20px;
        margin-right: spacing(4);
        border-radius: 50%;
        background-color: $color-bisc-orange;
        display: flex;
        justify-content: center;
        align-items: center;
        .warningIcon {
            color: $color-white;
        }
    }
}
