@import 'styles/variables/colors';

.paragraph {
    font-size: 14px;
    color: $color-grey-80;
}

.centered {
    text-align: center;
}

.leftAligned {
    text-align: left;
}

.isError {
    color: $color-ui-red;
}
