@import 'styles/variables/colors';
@import 'styles/variables/spacing';

.container {
    position: fixed;
    height: 100px;
    bottom: 0px;
    left: 292px; // 220px for the side nav + 72px for the authorized container padding
    right: 88px; // to align with authorized container padding
    margin-top: spacing(3);
    background-color: $color-white;

    .contentContainer {
        display: flex;
        border-radius: 8px;
        background-color: $color-grey-5;
        padding: spacing(4) spacing(6);
        .rightContainer {
            margin-left: auto;
        }
    }
}
