@import 'styles/variables/spacing';
@import 'styles/variables/colors';

.container {
}

.labelContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: spacing(1);
}

.label {
    display: block;
    color: $color-grey-80;
    font-weight: bold;
    font-size: 14px;
}

.isRequired::after {
    content: '*';
    color: $color-ui-red;
    margin-left: spacing(1);
}

.loading {
    display: block;
    color: $color-grey-80;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: spacing(2);
    text-transform: uppercase;
}

.link {
    text-decoration: none;
    color: #ff5a26;
}
