@import 'styles/variables/colors';
@import 'styles/variables/spacing';

.container {
    display: flex;
    flex-direction: column;
}

.inputField {
    // color: $white;
    // background-color: $background-darkest;
    border: solid 1px $dark-grey;
    border-radius: 4px;
    padding: 10px 8px;
    font-size: 16px;
    line-height: 16px;
    outline: none;

    &::placeholder {
        color: $dark-grey;
        font-style: italic;
    }

    .hasErrorMessage & {
        border-color: $danger;
    }
}

.errorMessage {
    margin-top: spacing(2);
    font-size: 14px;
    color: $danger;
}
