@import '../../../styles/variables/colors';

.container {
    position: relative;
    display: flex;

    .inputField {
        &[type='radio'] {
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;
            appearance: none;
            background-color: $color-white;
            padding: 9px;
            border-radius: 50%;
            display: inline-block;
            outline: none;
            position: relative;

            &[type='radio']:checked ~ .radio {
                display: block;
                visibility: visible;
            }

            &[type='radio']:checked:disabled ~ .radio {
                background-color: $color-grey-60;
                display: block;
                visibility: visible;
            }

            &:disabled {
                background-color: $color-grey-5;
                border: solid 1px $color-grey-20;
            }
        }
    }

    .radio {
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        display: none;
        visibility: hidden;
    }
}
.container.orangeBackground {
    .inputField {
        background-color: $color-bisc-orange;
        &[type='radio']:checked ~ .radio {
            background-color: $color-white;
        }
    }
}

.container.whiteBackground {
    .inputField {
        border: solid 1px $color-grey-60;
        &[type='radio']:checked ~ .radio {
            background-color: $color-bisc-orange;
        }
    }
}
