@import 'styles/variables/animations';

.icon {
    svg {
        color: inherit;
        font-size: 16px;
        width: 1em;
        height: 1em;
        pointer-events: none;
        transform-origin: 50% 50%;
        transition: transform $animation-appear;
    }
}
