@import 'styles/variables/colors';
@import 'styles/variables/spacing';

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 16px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.04);
    border: solid 1px $color-grey-20;
    background-color: $color-white;

    .section {
        &:nth-child(2) {
            padding: spacing(10) spacing(12) spacing(10) 0;
        }
        &:nth-child(1) {
            padding: spacing(10) 0 spacing(10) spacing(12);
        }
    }

    .notes {
        margin-top: spacing(6);
    }

    .roleLabel {
        text-transform: uppercase;
        margin-right: spacing(1);
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        color: $color-grey-80;
    }

    .label {
        margin-top: spacing(1);
        margin-bottom: spacing(8);
        font-size: 20px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $color-grey-99;
    }
}
